[submodule "github.com/excoriate/daggerverse/iac-terragrunt"]
	path = github.com/excoriate/daggerverse/iac-terragrunt
	url = https://github.com/excoriate/daggerverse
[submodule "github.com/fluent-ci-templates/syft-pipeline"]
	path = github.com/fluent-ci-templates/syft-pipeline
	url = https://github.com/fluent-ci-templates/syft-pipeline
[submodule "github.com/puzzle/dagger-module-helm/helm"]
	path = github.com/puzzle/dagger-module-helm/helm
	url = https://github.com/puzzle/dagger-module-helm
[submodule "github.com/fluent-ci-templates/wasmer-pipeline"]
	path = github.com/fluent-ci-templates/wasmer-pipeline
	url = https://github.com/fluent-ci-templates/wasmer-pipeline
[submodule "github.com/fluent-ci-templates/gitleaks-pipeline"]
	path = github.com/fluent-ci-templates/gitleaks-pipeline
	url = https://github.com/fluent-ci-templates/gitleaks-pipeline
[submodule "github.com/matipan/daggerverse/eksctl"]
	path = github.com/matipan/daggerverse/eksctl
	url = https://github.com/matipan/daggerverse
[submodule "github.com/fluent-ci-templates/sonar-pipeline"]
	path = github.com/fluent-ci-templates/sonar-pipeline
	url = https://github.com/fluent-ci-templates/sonar-pipeline
[submodule "github.com/fluent-ci-templates/gitlab-pipeline"]
	path = github.com/fluent-ci-templates/gitlab-pipeline
	url = https://github.com/fluent-ci-templates/gitlab-pipeline
[submodule "github.com/fluent-ci-templates/firebase-pipeline"]
	path = github.com/fluent-ci-templates/firebase-pipeline
	url = https://github.com/fluent-ci-templates/firebase-pipeline
[submodule "github.com/fluent-ci-templates/shuttle-pipeline"]
	path = github.com/fluent-ci-templates/shuttle-pipeline
	url = https://github.com/fluent-ci-templates/shuttle-pipeline
[submodule "github.com/fluent-ci-templates/snyk-pipeline"]
	path = github.com/fluent-ci-templates/snyk-pipeline
	url = https://github.com/fluent-ci-templates/snyk-pipeline
[submodule "github.com/jumppad-labs/daggerverse/jumppad"]
	path = github.com/jumppad-labs/daggerverse/jumppad
	url = https://github.com/jumppad-labs/daggerverse
[submodule "github.com/fluent-ci-templates/supabase-pipeline"]
	path = github.com/fluent-ci-templates/supabase-pipeline
	url = https://github.com/fluent-ci-templates/supabase-pipeline
