[submodule "github.com/excoriate/daggerverse/iac-terragrunt"]
	path = github.com/excoriate/daggerverse/iac-terragrunt
	url = https://github.com/excoriate/daggerverse
[submodule "github.com/fluent-ci-templates/syft-pipeline"]
	path = github.com/fluent-ci-templates/syft-pipeline
	url = https://github.com/fluent-ci-templates/syft-pipeline
[submodule "github.com/puzzle/dagger-module-helm/helm"]
	path = github.com/puzzle/dagger-module-helm/helm
	url = https://github.com/puzzle/dagger-module-helm
[submodule "github.com/fluent-ci-templates/wasmer-pipeline"]
	path = github.com/fluent-ci-templates/wasmer-pipeline
	url = https://github.com/fluent-ci-templates/wasmer-pipeline
[submodule "github.com/fluent-ci-templates/gitleaks-pipeline"]
	path = github.com/fluent-ci-templates/gitleaks-pipeline
	url = https://github.com/fluent-ci-templates/gitleaks-pipeline
[submodule "github.com/matipan/daggerverse/eksctl"]
	path = github.com/matipan/daggerverse/eksctl
	url = https://github.com/matipan/daggerverse
[submodule "github.com/fluent-ci-templates/sonar-pipeline"]
	path = github.com/fluent-ci-templates/sonar-pipeline
	url = https://github.com/fluent-ci-templates/sonar-pipeline
[submodule "github.com/fluent-ci-templates/gitlab-pipeline"]
	path = github.com/fluent-ci-templates/gitlab-pipeline
	url = https://github.com/fluent-ci-templates/gitlab-pipeline
[submodule "github.com/fluent-ci-templates/firebase-pipeline"]
	path = github.com/fluent-ci-templates/firebase-pipeline
	url = https://github.com/fluent-ci-templates/firebase-pipeline
[submodule "github.com/fluent-ci-templates/shuttle-pipeline"]
	path = github.com/fluent-ci-templates/shuttle-pipeline
	url = https://github.com/fluent-ci-templates/shuttle-pipeline
[submodule "github.com/fluent-ci-templates/snyk-pipeline"]
	path = github.com/fluent-ci-templates/snyk-pipeline
	url = https://github.com/fluent-ci-templates/snyk-pipeline
[submodule "github.com/jumppad-labs/daggerverse/jumppad"]
	path = github.com/jumppad-labs/daggerverse/jumppad
	url = https://github.com/jumppad-labs/daggerverse
[submodule "github.com/fluent-ci-templates/supabase-pipeline"]
	path = github.com/fluent-ci-templates/supabase-pipeline
	url = https://github.com/fluent-ci-templates/supabase-pipeline
[submodule "github.com/fluent-ci-templates/spin-pipeline"]
	path = github.com/fluent-ci-templates/spin-pipeline
	url = https://github.com/fluent-ci-templates/spin-pipeline
[submodule "github.com/tsirysndr/daggerverse/wiremock"]
	path = github.com/tsirysndr/daggerverse/wiremock
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/yamllint"]
	path = github.com/tsirysndr/daggerverse/yamllint
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/terraform-docs"]
	path = github.com/tsirysndr/daggerverse/terraform-docs
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/shellcheck"]
	path = github.com/tsirysndr/daggerverse/shellcheck
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/scorecard"]
	path = github.com/tsirysndr/daggerverse/scorecard
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/rtx"]
	path = github.com/tsirysndr/daggerverse/rtx
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/r2-sync"]
	path = github.com/tsirysndr/daggerverse/r2-sync
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/phpcs"]
	path = github.com/tsirysndr/daggerverse/phpcs
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/phpcbf"]
	path = github.com/tsirysndr/daggerverse/phpcbf
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/php-cs-fixer"]
	path = github.com/tsirysndr/daggerverse/php-cs-fixer
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/open-policy-agent"]
	path = github.com/tsirysndr/daggerverse/open-policy-agent
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/nix"]
	path = github.com/tsirysndr/daggerverse/nix
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/kubeval"]
	path = github.com/tsirysndr/daggerverse/kubeval
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/jsonlint"]
	path = github.com/tsirysndr/daggerverse/jsonlint
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/golint"]
	path = github.com/tsirysndr/daggerverse/golint
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/gofmt"]
	path = github.com/tsirysndr/daggerverse/gofmt
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/flox"]
	path = github.com/tsirysndr/daggerverse/flox
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/devenv"]
	path = github.com/tsirysndr/daggerverse/devenv
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/devbox"]
	path = github.com/tsirysndr/daggerverse/devbox
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/conftest"]
	path = github.com/tsirysndr/daggerverse/conftest
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/checkmake"]
	path = github.com/tsirysndr/daggerverse/checkmake
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/black"]
	path = github.com/tsirysndr/daggerverse/black
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/awesome-ci"]
	path = github.com/tsirysndr/daggerverse/awesome-ci
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/ansible"]
	path = github.com/tsirysndr/daggerverse/ansible
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/ansible-lint"]
	path = github.com/tsirysndr/daggerverse/ansible-lint
	url = https://github.com/tsirysndr/daggerverse
[submodule "github.com/tsirysndr/daggerverse/pkgx"]
	path = github.com/tsirysndr/daggerverse/pkgx
	url = https://github.com/tsirysndr/daggerverse
